* {
    margin: 0;
    padding: 0;
}

h1 {
    rotate: -20deg;
    position: absolute;
    left: 2px;
    top: 50%;
}

h3 {
    rotate: 10deg;
    position: absolute;
    right: 2px;
    top: 50%;
}

a {
    color: #bb7272;
    background-color: aqua;
}

a:hover {
    color: #3f1145;
}

body{
    background-color: #3f1145;
    background-image: url(back-pattern.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.hair{
    background-color: #3a0606;
    background-image: url(arabesque.png);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
}


.head{
    background-color: #e4c783;
    color: white;
    height: 10rem;
    width: 10rem;
    border-radius: 45%;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 2rem;
    transform: translateX(-50%);
}

.eyeL, .eyeR{
    background-color: #ffffff;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.eyeL {
    top: 4rem;
    transform: translateX(-50%);
}

.pupilL, .pupilR{
    background-color: #000000;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    margin-top: 2rem;
    z-index: 4;
}

.pupilL {
    top: 4rem;
    transform: translateX(-50%);
}


.nose{
    background-color: #ae965d;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.mouth{
    background-color: #bb7272;
    height: 1.5rem;
    width: 3rem;
    border-radius: 50%;
    margin-top: 2rem;
}





.middle {
    position: absolute;
    top: 12rem;
    transform: translateX(-50%);
}

.body{
    background-color: #444444;
    background-image: url(argyle.png);
    height: 10rem;
    width: 10rem;
    border-radius: 45%;
    margin-top: 1rem;
}

.armL, .armR{
    background-color: #e4c783;
    height: 1.5rem;
    width: 3rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.armL{
    transform: rotate(45deg);

}

.armR{
    transform: rotate(-45deg);
}







.bottom {
    position: absolute;
    top: 30rem;
    transform: translateX(-50%);
}


.legL, .legR{
    background-color: #636363;
    height: 1.5rem;
    width: 3rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.legL{
    transform: rotate(45deg);
}

.legR{
    transform: rotate(-45deg);
}

